.chat{
    flex: 0.7;
    padding-bottom: 150px;
    display: flex;
    overflow: hidden;
    flex-direction: column;
}
.chat__message{
    overflow-y: scroll;
}
.chat__message::-webkit-scrollbar{
    display: none;
}
.chat__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    padding: 20px;
}
.chat__headerLeft > h4{
    display: flex;
    align-items: center;
}
.chat__chanelName{
    text-transform: lowercase;
}
.chat__headerLeft > h4 > .MuiSvgIcon-root{
    margin-left: 5px;
    font-size: 18px;
}
.chat__headerRight > p{
    font-size: 14px;
    display: flex;
    align-items: center;
}
.chat__headerRight > p > .MuiSvgIcon-root{
    margin-right: 5px;
    font-size: 15px;
}